[Desktop Entry]
Name=No Smoking
Comment=Helps to quit smoking
Exec=nosmoking
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
StartupNotify=true
Keywords=network;
Categories=Network;
